@import "./_colour";

.hotel {
    background-color: $main-background-theme;
    font: 1em BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    
    &:not(:last-child) {
        margin-bottom: 1em;
    }
    .hotel__detail {
        flex-basis: 40%;
        display: -webkit-flex;
        display: flex;
    }

    .content__padding {
        padding: 1em;
        flex: 1;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
    }

    h4.name {
        margin: 0 0 .25em 0;
        padding: 0; 
        font-size: .9em;
        color: $main-theme-blue;
    }

    .location {
        margin: .25em 0;
        padding: 0; 
        font-size: .6em;
        color: #adadad;
    }
    
    .hotel__image {
        flex-basis: 60%;
        min-height: 300px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: relative;
    }

    .readmore {
        position: absolute;
        left: 0;
        bottom: 0;
        font-size: .6em;
        padding: 0.5em 0;
        background-color: $main-background-theme;
        .content__padding {
            padding: 0em 1em;
            p {
                color: $main-theme-blue;
            }
        }
    }

    .button__container {
        flex: 1;
        margin: 0.25em 0 0 0;
    }

    .book__button {
        display: block;
        height: 100%;
        background-color: $main-yellow-colour;
        border-radius: 3px;
        position: relative;
        .book__button__container {
            position: absolute;
            display: inline-block;
            left: 50%;
            top: 60%;
            transform: translate(-50%, -50%);
        }
    }
}

.rating__container {
    margin: .25em 0;
    display: -webkit-flex;
    display: flex; 
}

.star-five {
    margin: 5px 0;
    position: relative;
    display: block;
    color: $main-yellow-colour;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid $main-yellow-colour;
    border-left: 10px solid transparent;
    transform: rotate(35deg);
    
    &:before {
    border-bottom: 8px solid $main-yellow-colour;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -5px;
    left: -6px;
    display: block;
    content: '';
    transform: rotate(-35deg);
    }
    &:after {
    position: absolute;
    display: block;
    color: $main-yellow-colour;
    top: 1px;
    left: -10px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid $main-yellow-colour;
    border-left: 10px solid transparent;
    transform: rotate(-70deg);
    content: '';
    }
}