.hotel {
  background-color: #FFF;
  font: 1em BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .hotel:not(:last-child) {
    margin-bottom: 1em; }
  .hotel .hotel__detail {
    flex-basis: 40%;
    display: -webkit-flex;
    display: flex; }
  .hotel .hotel__information {
    display: none; }
    .hotel .hotel__information.active {
      display: block; }
    .hotel .hotel__information .content__padding {
      padding: 1em 15px; }
  .hotel .description__container h5 {
    padding: 0;
    margin: 0 0 0.5em 0;
    color: #00377B;
    font-weight: bold; }
  .hotel .description__container p {
    font-size: .6em;
    margin: 0 0 .15em 0; }
  .hotel .content__padding {
    padding: 1em;
    flex: 1;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column; }
  .hotel h4.name {
    margin: 0 0 .25em 0;
    padding: 0;
    font-size: .9em;
    color: #00377B; }
  .hotel .location {
    color: #adadad; }
  .hotel .location, .hotel .passengers, .hotel .duration, .hotel .departing {
    margin: .35em 0;
    padding: 0;
    font-size: .6em; }
  .hotel .hotel__image {
    flex-basis: 60%;
    min-height: 277px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative; }
  .hotel .readmore {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: .6em;
    padding: .6em 0;
    background-color: #FFF;
    cursor: pointer; }
    .hotel .readmore .content__padding {
      padding: 0em 30px 0 15px; }
      .hotel .readmore .content__padding p {
        color: #00377B; }
  .hotel .button__container {
    flex: 1;
    margin: 0.25em 0 0 0; }
  .hotel .book__button {
    display: block;
    height: 100%;
    background-color: #FFD940;
    border-radius: 3px;
    position: relative; }
    .hotel .book__button:hover {
      background-color: #ffd427; }
    .hotel .book__button .book__button__container {
      position: absolute;
      display: inline-block;
      left: 50%;
      top: 60%;
      transform: translate(-50%, -50%); }
      .hotel .book__button .book__button__container .book__text {
        letter-spacing: 2px;
        font-size: 1.15em; }
    .hotel .book__button .prebook__button__container {
      position: absolute;
      display: inline-block;
      left: 50%;
      top: 35%;
      transform: translate(-50%, -50%); }
      .hotel .book__button .prebook__button__container .prebook__text {
        font-size: .75em; }
    .hotel .book__button .prebook__text, .hotel .book__button .book__text {
      color: #00377B;
      font-weight: bold; }

.rating__container {
  margin: .5em 0;
  display: -webkit-flex;
  display: flex; }

.star-five {
  margin: 5px 0;
  position: relative;
  display: block;
  color: #FFD940;
  width: 0px;
  height: 0px;
  border-right: 10px solid transparent;
  border-bottom: 7px solid #FFD940;
  border-left: 10px solid transparent;
  transform: rotate(35deg); }
  .star-five:before {
    border-bottom: 8px solid #FFD940;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -5px;
    left: -6px;
    display: block;
    content: '';
    transform: rotate(-35deg); }
  .star-five:after {
    position: absolute;
    display: block;
    color: #FFD940;
    top: 1px;
    left: -10px;
    width: 0px;
    height: 0px;
    border-right: 10px solid transparent;
    border-bottom: 7px solid #FFD940;
    border-left: 10px solid transparent;
    transform: rotate(-70deg);
    content: ''; }
